
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<a href="/Admin/addcourse">ADD COURSE</a><br />
<a href="/Admin/viewcourse">View COURSE</a><br />
<a href="/Admin/ViewEnrollments">View Enrollment Details</a><br />

