@model IEnumerable<Exam.DTOs.EnrollmentDetailsDTO>

@{
    ViewBag.Title = "View Enrollments";
}

<h2>View Enrollments</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            
        </tr>
    }

</table>
