<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <div class="container">
        <h2>Signup</h2>

        <form action="/Signup/signup" method="post" class="form-horizontal">
            <!-- Update action URL as needed -->
            <input name="__RequestVerificationToken" type="hidden" value="your-anti-forgery-token" /> 

            <div class="form-horizontal">
                <h4>User</h4>
                <hr />
                <div class="form-group">
                    <label for="username" class="control-label col-md-2">Username</label>
                    <div class="col-md-10">
                        <input type="text" name="username" class="form-control" />
                        <span class="text-danger">@Html.ValidationMessage("username")</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="control-label col-md-2">Password</label>
                    <div class="col-md-10">
                        <input type="password" name="password" class="form-control" />
                        <span class="text-danger" data-valmsg-for="password" data-valmsg-replace="true"></span>
                        <span class="text-danger">@Html.ValidationMessage("password")</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="control-label col-md-2">Email</label>
                    <div class="col-md-10">
                        <input type="email" name="email" class="form-control" />
                        <span class="text-danger">@Html.ValidationMessage("email")</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="control-label col-md-2">Type</label>
                    <div class="col-md-10">
                        <input type="text" name="Type" class="form-control" />
                        <span class="text-danger">@Html.ValidationMessage("Type")</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="SignUp" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </form>

        <div>
            <a href="/login/Index">Login</a> <!-- Update URL as needed -->
        </div>
    </div>

    <script src="~/bundles/jqueryval"></script>
</body>
</html>
